body{
  margin: 0;
  overflow: hidden;
}

#app-root {
  font-family: Aleo, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* because like what are backup options */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --green: rgb(28, 128, 0);
  --red: #60010a;
  --dark-blue: #282c34;
  --bg: white;
  --text: black;

  --calendar-width: 75vw;
  --calendar-left: 25vw;
  --fc-button-bg-color: var(--green);
  --fc-button-border-color: #146000;
  --fc-button-hover-bg-color: #146000;
  --fc-button-active-bg-color: var(--green);
  --fc-button-active-border-color: var(--green);
  --fc-today-bg-color: #1c800022;
  --fc-event-bg-color: rgba(125, 125, 125, 0.125);
  --fc-event-border-color: #cccccc00;
  --fc-event-text-color: var(--text);
  --today-button-display: none;
  --fc-border-color: rgba(125, 125, 125, 0.125);

  background-color: var(--bg);
}

.default-page{
    width: 75vw;
    left: 25vw;
    top: 0;
    height: 100vh;
    position: absolute;
    color: var(--text);
}

@media(max-width: 750px) {
  .default-page{
    width: 100vw;
    left: 0;
  }
}

.fc-toolbar-title{
  color: var(--green)
}


.link{
  color: var(--green);
  font-weight: normal;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--green);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn{
  background-color: var(--green);
  color: white;
  font-weight: normal;
  padding: 8px 32px;
  border: none;
  font-size: large;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px var(--green);
  height: 36px;
  line-height: 36px;
  transition: all .25s ease-in-out;
  cursor: pointer;
}

.btn:hover{
  box-shadow: 0px 0px 20px var(--green);
}

.btn:active{
  box-shadow: none;
}

.bigText{
  font-weight: bold;
  color: var(--green);
  font-size: 64px;
  margin: 4px;
}

.mediumText{
  font-weight: normal;
  color: var(--green);
  font-size: 24px;
  margin: 4px
}

.flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fc{
  width: var(--calendar-width);
  left: var(--calendar-left);
  height: 100vh;
}

.fc-daygrid-block-event{
  height: 36px;
  overflow: auto;
}

.fc-daygrid-event{
  height: 36px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fc-header-toolbar{
  margin: 24px;
}

.fc-toolbar-chunk{
  padding-right: 24px;
}

.fc-today-button.fc-button-primary:disabled{
  display: none;
}